# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/
.env

# Django
db.sqlite3
*.log
local_settings.py
staticfiles/

# Node / Vite
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid
